{% extends 'base.html' %}

{% block content %}
  <main class="container">
     <div class="row">
        <div class="col-md-7 offset-md-3 mt-5">
            <form  class="card card-body">
                <h1 class="text-center">Incidencia</h1>
                {{error}}
                {%csrf_token%}

                  <ul class="list-group list-group-horizontal">
                    <li class="list-group-item list-group-item-secondary" style="width: 30%;">Ingrese informacion sobre la incidencia a registrar</li>
                    <li class="list-group-item" style="width: 70%;">
                      <label for="incSolicFecha"><small class="text-body-secondary">Fecha de la Inciedencia:</small></label>
                      <input type="date" id="incSolicFecha" name="incSolicFecha"        class="form-control form-control-sm">

                      <label for="incTipo"><small class="text-body-secondary">Seleccionar tipo de incidencia:</small></label>
                      <select class="form-select form-select-sm" aria-label="Large select example" id="incTipo" name="incTipo">
                        <option selected>Seleccionar</option>
                        <option value="IT-NA">Informe Tecnico (nueva adquisicion)</option>
                        <option value="IT-Int">Informe Tecnico (internamiento)</option>
                        <option value="MA-RE">Mantenimiento/Reparacion</option>
                        <option value="DEV">Desarrollo</option>
                      </select>
                    </li>
                  </ul>

                  <ul class="list-group list-group-horizontal">
                    <li class="list-group-item list-group-item-secondary" style="width: 30%;">Ingresar datos del Solcitante</li>
                    <li class="list-group-item" style="width: 70%;">
                      <label for="incSolicitante"><small class="text-body-secondary">Nombres del Solicitante:</small></label>
                      <select class="form-select form-select-sm" aria-label="Large select   example" id="incSolicitante" name="incSolicitante">
                            <option selected>Seleccionar...</option>
                            {% for trabajador in trabajadores %}
                             <option value= "{{trabajador.id}}">{{trabajador.first_name}} {{trabajador.last_name}}</option>
                            {% endfor %} 
                      </select>

                      <label for="incSolicOficina"><small class="text-body-secondary">Oficina del Solicitante:</small></label>
                      <select class="form-select form-select-sm" aria-label="Large select example" id="incSolicOficina" name="incSolicOficina">
                          <option selected>Seleccionar...</option>
                          {% for oficina in oficinas %}
                           <option value= "{{oficina.id}}">{{oficina.abrev}} - {{oficina.oficina}}</option>
                          {% endfor %} 
                      </select>
                      
                      <label for="incSolicCargo"><small class="text-body-secondary">Cargo del solicitante:</small></label>
                      <input type="text" id="incSolicCargo" name="incSolicCargo"        class="form-control form-control-sm">
                      <p></p>
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="incSolicTieneDoc">
                        <label class="form-check-label" for="incSolicTieneDoc">¿Ingresó documento?</label>
                      </div>
                      <div id="div_incSolicDoc" style="display: none;">
                        <label for="incSolicDocumento"><small class="text-body-secondary">Ingresar nro. documento:</small></label>
                        <input type="text" id="incSolicDocumento" name="incSolicDocumento"  class="form-control form-control-sm">
                        <label for="incSolicDocAsunto"><small class="text-body-secondary">Ingresar asunto del documento:</small></label>
                        <input type="text" id="incSolicDocAsunto" name="incSolicDocAsunto"  class="form-control form-control-sm">
                        <p></p>
                      </div>
                    </li>
                  </ul>                  

                  <ul class="list-group list-group-horizontal">
                    <li class="list-group-item list-group-item-secondary" style="width: 30%;">Ingrese informacion sobre el personal TIC, encargado de la incidencia</li>
                    <li class="list-group-item" style="width: 70%;">
                      <label for="incWorkTic"><small class="text-body-secondary">Seleccionar personal TIC:</small></label>
                      <select class="form-select form-select-sm" aria-label="Large select   example" id="incWorkTic" name="incWorkTic">
                            <option selected>Seleccionar...</option>
                            {% for trabajador in trabajadores %}
                             <option value= "{{trabajador.id}}">{{trabajador.first_name}} {{trabajador.last_name}}</option>
                            {% endfor %} 
                      </select>

                      <label for="incWorkTicArea"><small class="text-body-secondary">Area responsable de la incidencia:</small></label>
                      <select class="form-select form-select-sm" aria-label="Large select example" id="incWorkTicArea" name="incWorkTicArea">
                          <option selected>Seleccionar...</option>
                          {% for area in areas %}
                           <option value= "{{area.id}}">{{area.area}}</option>
                          {% endfor %} 
                      </select>

                    </li>
                  </ul>

                  <ul class="list-group ">
                    <li class="list-group-item list-group-item-secondary" style="width: 100%;">Historial de Equipos de Computo</li>
                    <li class="list-group-item" style="width: 100%;">
                        <div class="container">
                          <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                              <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa-solid fa-plus"></i></button>
             
                              <div class="table-responsive">
                                <table id="datatable-equipos" class="table">
                                  <thead>
                                      <th class="centered">#</th>
                                      <th class="centered">codPatrim</th>
                                      <th class="centered">Marca</th>
                                      <th class="centered">Modelo</th>
                                      <th class="centered">Acciones</th>
                                  </thead>
                                  <tbody id="tableBody_listarEquipos"></tbody>
                                </table>
                              </div>
                            </div>
                          </div>

                        </div>

                    </li>
                  </ul>

            <button class="btn btn-primary"> Guardar</button>
            </form>
        </div>
     </div>

          <!-- Modal -->
          {% load static %}
          <div id="static-urls" style="display: none;">
            <span id="deleteImageUrl">{% static 'image/delete02.svg' %}</span>
            <span id="checkImageUrl">{% static 'image/check01.svg' %}</span>
          </div>

      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Seleccionar/Ingresar Equipo a revisar</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row mt-1">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 card card-body">
                     {% if error %}   
                       <div class="alert alert-danger" role="alert">
                         {{error}}
                       </div>
                     {% endif %}  
                     
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" role="switch" id="incEsEquipoPatrimonizado" >
                          <label class="form-check-label" for="incEsEquipoPatrimonizado">¿Equipo Patrimonizado?</label>
                        </div>


                     <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 p-1 card card-body"
                          id="div_incBuscarEquipoPatrimonizado" >
                      <div class="row g-3 d-flex align-items-center">
                        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                            <input type="text" 
                                   class="form-control form-control-sm" id="inc_codPatrimonial"
                                   name="inc_codPatrimonial"
                                   placeholder="codigo patrimonial" 
                                   style=" text-transform: uppercase">
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                             <button class="btn btn-sm btn-primary" 
                                     onclick="buscarEquipo()">
                                 Consultar
                             </button>
                        </div>
                        
                        <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5"      id="div_inc_textEstado">

                       </div>
                      </div>
                     </div>

                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 card card-body mt-1">  
                       <div>Información del Equipo</div>
                         <div id="inc_equipoEncontrado">
                              <div class="input-group  input-group-sm mb-1">
                                <span class="input-group-text" >Cod Patrimonial:</span>
                                <input type="text" 
                                       class="form-control disabled-input" 
                                       id="inc_equipoCodPatrimonial"
                                       disabled = true>
                              </div>
                              <div class="input-group  input-group-sm mb-1">
                                <span class="input-group-text">Tipo Equipo:</span>
                                <input type="text"
                                       class="form-control" 
                                       placeholder="ingresar tipo de equipo"
                                       id="inc_equipoTipo">
                              </div>
                              <div class="input-group  input-group-sm mb-1">
                                <span class="input-group-text">Marca:</span>
                                <input type="text" 
                                       class="form-control" 
                                       placeholder="ingresar marca"
                                       id="inc_equipoMarca">
                              </div>
                              <div class="input-group  input-group-sm mb-1">
                                <span class="input-group-text">Modelo:</span>
                                <input type="text" 
                                       class="form-control" 
                                       placeholder="ingresar modelo"
                                       id="inc_equipoModelo">
                              </div>
                              <div class="input-group  input-group-sm mb-1">
                                <span class="input-group-text">Nro Serie:</span>
                                <input type="text" 
                                       class="form-control"  
                                       placeholder="ingresar nro. serie"
                                       id="inc_equipoSerie">
                              </div>
                              <div class="input-group  input-group-sm mb-1">
                                <span class="input-group-text">Color:</span>
                                <input type="text" 
                                       class="form-control" 
                                       placeholder="ingresar color"
                                       id="inc_equipoColor">
                              </div>
                              <div class="input-group  input-group-sm mb-1">
                                <span class="input-group-text">FechaPecosa:</span>
                                <input type="text" 
                                       class="form-control disabled-input"
                                       id="inc_equipoFechaPecosa"
                                       disabled = true>
                              </div>
                              <div class="input-group  input-group-sm mb-1">
                                <span class="input-group-text">Estado:</span>
                                <input type="text" 
                                       class="form-control disabled-input" 
                                       id="inc_equipoEstado"
                                       disabled=true>
                              </div>
                              <div class="input-group  input-group-sm mb-1">
                                <span class="input-group-text">Observacion:</span>
                                <input type="text" 
                                       class="form-control" 
                                       placeholder="ingresar observacion"
                                       id="inc_equipoObservacion">
                              </div>
                              <div class="input-group  input-group-sm mb-1">
                                <span class="input-group-text">Tipo Doc:</span>
                                <input type="text" 
                                       class="form-control disabled-input" 
                                       id="inc_equipoTipoDoc"
                                       disabled=true>
                              </div>
                              <div class="input-group  input-group-sm mb-1">
                                <span class="input-group-text">Nro Doc:</span>
                                <input type="text" 
                                       class="form-control disabled-input"
                                       id="inc_equipoNroDoc"
                                       disabled=true>
                              </div>
                              <div class="input-group  input-group-sm mb-1">
                                <span class="input-group-text">Nro SIAF:</span>
                                <input type="text" 
                                       class="form-control disabled-input"
                                       id="inc_equipoSiaf"
                                       disabled=true>
                              </div>

                         </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Understood</button>
            </div>
          </div>
        </div>
      </div>

  </main>
{% endblock %}