{% extends 'base.html' %}
{% block content %}

        <main class=".container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 offset-md-4">
                <h1 class="text-center display-3 py-5">Areas TIC</h1>
                <div>
                    <button class="btn btn-primary mb-3">
                        <a href="{% url 'area_create' %}" style='color: white'>Add+</a></button>
                </div>
                <table class="table table-bordered border-primary">
                    <thead>
                        <tr>
                          <th scope="col" style="text-align: left;width:80%" >Area</th>
                          <th scope="col" style="text-align: right">Acción</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for area in areas %}
                        <tr>
                                {% if not area.activo %}
                                    <td class="table-danger">{{area.area}}</td>
                                    <td  class="table-danger"><a href=  "{% url 'area_detail' area.id %}" style='color: black'>Editar</a></td>
                                {% else %}   
                                    <td>{{area.area}}</td>
                                    <td><a href= "{% url 'area_detail' area.id %}" style='color: black'>Editar</a></td>
                                {% endif %}
                                   
                        </tr>
                        {% endfor %}
                      </tbody>
                </table>

            </div>
        </div>
    </main>
{% endblock %}