{% extends 'base.html' %}
{% block content %}

        <main class="container">
            <div class="row mb-2">
                <h1 class="text-center display-3 py-4">Oficinas</h1>
               <div class="col-md-3 offset-md-3">
                
                  <button type="button" class="btn btn-primary">
                      activos:  <span class="badge text-bg-light">{{oficina_activos}}</span>
                  </button>
        
                  <button type="button" class="btn btn-success">
                    desactivados:  <span class="badge text-bg-light">{{oficina_Noactivos}}</span>
                  </button>
                  
               </div>
               <div class="col-md-3 offset-md-1">
                  <button type="button" class="btn btn-warning">
                    Total Oficinas:  <span class="badge text-bg-light">{{total_oficinas}}</span>
                  </button>
               </div>
            </div>

        <div class="row ">
            <div class="col-md-5 offset-md-3 ">
                <div class="card card-body">
                    <div>
                        <button class="btn btn-dark mb-3">
                            <a href="{% url 'oficina_create' %}" style='color: white'>Agregar+</a></button>
                    </div>

                    <table class="table table-bordered table-striped table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col" style="text-align: left;width:60%" >Oficina</th>
                                <th scope="col" style="text-align: left;width:20%" >Abrev.</th>
                                <th scope="col" style="text-align: left;width:20%"">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for oficina in oficinas %}
                            <tr>
                                    {% if not oficina.activo %}
                                        <td class="table-danger">{{oficina.oficina}}</td>
                                        <td class="table-danger">{{oficina.abrev}}</td>
                                        {% load static %}
                                        <td  class="table-danger text-center">                                        
                                            <a href=  "{% url 'oficina_detail' oficina.id %}" style='color: black'><img src="{% static 'image/edit02.svg' %}" alt="modificar" title="modificar oficina" width="25" height="25"></a>
                                            <a onclick="preguntarEliminacion('Oficina','/oficina/{{oficina.id}}/delete')" style='color: black;cursor:pointer'><img src="{% static 'image/delete01.svg' %}" alt="eliminar" title="eliminar oficina" width="25" height="25"></a>
                                        </td>
                                    {% else %}   
                                        <td>{{oficina.oficina}}</td>
                                        <td>{{oficina.abrev}}</td>
                                        {% load static %}
                                        <td class="text-center"><a href= "{% url 'oficina_detail' oficina.id %}" style='color: black'><img src="{% static 'image/edit02.svg' %}" alt="modificar" title="modificar oficina"  width="25" height="25"></a>
                                            <a onclick="preguntarEliminacion('Oficina','/oficina/{{oficina.id}}/delete')" style='color: black;cursor:pointer'><img src="{% static 'image/delete01.svg' %}" alt="eliminar" title="eliminar oficina" width="25" height="25"></a></td>
                                    {% endif %}
                                    
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
              </div>
            </div>
        </div>
    </main>
{% endblock %}