{% extends 'base.html' %}
{% block content %}

        <main class=".container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 offset-md-5">
                <h1 class="text-center display-3 py-5">Perfiles</h1>

                <table class="table table-bordered border-primary">
                    <thead>
                        <tr>
                          <th scope="col" style="text-align: left;width:80%" >Perfil</th>
                          <th scope="col" style="text-align: right">Acción</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for perfil in perfiles %}
                        <tr>
                                {% if not perfil.activo %}
                                    <td class="table-danger">{{perfil.perfil}}</td>
                                    <td  class="table-danger"><a href=  "{% url 'perfil_detail' perfil.id %}" style='color: black'>Editar</a></td>
                                {% else %}   
                                    <td>{{perfil.perfil}}</td>
                                    <td><a href= "{% url 'perfil_detail' perfil.id %}" style='color: black'>Editar</a></td>
                                {% endif %}
                                   
                        </tr>
                        {% endfor %}
                      </tbody>
                </table>

            </div>
        </div>
    </main>
{% endblock %}