{% extends 'base.html' %}
{% block content %}

        <main class=".container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 offset-md-5">
                <h1 class="text-center display-3 py-5">Perfiles</h1>

                <table class="table table-bordered border-primary">
                    <thead>
                        <tr>
                          <th scope="col">Perfil</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for perfil in perfiles %}
                        <tr>
                                {% if not perfil.activo %}
                                    <td class="table-danger"><a href= "{% url 'home'  %}" style='color: black'>{{perfil.perfil}}</a></td>
                                {% else %}   
                                    <td><a href= "{% url 'home'  %}" style='color: black'>{{perfil.perfil}}</a></td>
                                {% endif %}
                        </tr>
                        {% endfor %}
                      </tbody>
                </table>

            </div>
        </div>
    </main>
{% endblock %}