{% extends 'base.html' %}

{% block content %}
  <main class="container">
     <div class="row">
        <div class="col-md-5 offset-md-4 mt-5">
            <form action="/signup/" method="post" class="card card-body">
                <h1 class="text-center">Signup</h1>
                {{error}}
                {%csrf_token%}
                
                <div class="mb-3">
                    <select class="form-select form-select-sm" aria-label="Large select example"
                     id="perfil" name="perfil">
                        <option selected>Seleccionar perfil</option>
                        <option value="workerTIC">WorkerTIC</option>
                        <option value="usuario">Usuario</option>
                        <option value="invitado">Invitado</option>
                        <option value="master">Administrador</option>
                      </select>
                </div>

                <div class="mb-3">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Escribir username">
                </div>

                <div class="row">
                   <div class="col-md-6">
                    <div class="mb-3">
                        <label for="password1">Password:</label>
                        <input type="password" id="password1" name="password1" class="form-control" placeholder="Escribir tu password">
                    </div> 
                   </div>
               
                   <div class="col-md-6">
                    <div class="mb-3">
                            <label for="password2">Confirmar Password:</label>
                            <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirmar tu password">
                        </div> 
                    </div> 
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                       <div class="mb-3">
                        <label for="password2">Apellidos:</label>
                        <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Escribir Apellidos">
                       </div> 
                    </div>
                    <div class="col-md-6">
                       <div class="mb-3">
                        <label for="password2">Nombres:</label>
                        <input type="text" id="first_name" name="first_name" class="form-control" placeholder="Escribir Nombres">
                       </div> 
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="password2">Email:</label>
                            <input type="email" id="email" name="email" class="form-control" placeholder="Escribir email">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="password2">Celular:</label>
                            <input type="text" id="nroCelular" name="nroCelular" class="form-control" placeholder="Escribir celular">
                        </div>
                    </div>
                </div>
            <button class="btn btn-primary"> Signup</button>
            </form>
        </div>
     </div>
  </main>
{% endblock %}
