{% extends 'base.html' %}
{% block content %}
    
<main  class="container">
    <div class="row mt-5">
        <div class="col-md-4 offset-md-4">
           <form action="/tipoEquipo/create/" method="POST"  class="card card-body">
            <h2>Crear Tipo de Equipo</h2> 
            {{error}}
            {% csrf_token %}
            {{form}}
            <button  class="btn btn-primary mt-3">
                Save
            </button>
        </form>
        </div>
    </div>
</main>
{% endblock %}
