{% extends 'base.html' %}
{% block content %}
   <main class="container">
     <div class="row mt-5">
       <div class="col-md-4 offset-md-4">
          <form method="POST" class=" card card-body">
            <h2 class="text-secondary text-center">Editar Tipo de Equipo</h2>
            {{error}}
            {% csrf_token %}
            {{form}}
            <button class="btn btn-primary  mt-3">
                Update
            </button>
          </form>
       </div>
     </div>
   </main>
{% endblock %}